<mat-card>
  <mat-card-content>
    <div class="card-header-table">
      <mat-toolbar class="tolbar"
        >Clientes
        <button
          class="botton"
          mat-mini-fab
          color="accent"
          aria-label="adicionar"
          (click)="onAdd()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <table
      mat-table
      [dataSource]="schedule"
      class="mat-elevation-z8 demo-table"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>NOME</th>
        <td mat-cell *matCellDef="let client">{{ client.nome }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>DATA</th>
        <td mat-cell *matCellDef="let client">{{ client.date | date: 'dd/MM/yyyy' }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>PREÇO</th>
        <td mat-cell *matCellDef="let client">{{ client.price }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>CATEGORIA</th>
        <td mat-cell *matCellDef="let client">{{ client.category }}</td>
      </ng-container>

      <ng-container matColumnDef="payment">
        <th mat-header-cell *matHeaderCellDef>PAGAMENTO</th>
        <td mat-cell *matCellDef="let client">{{ client.payment }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>DESCRIÇÃO</th>
        <td mat-cell *matCellDef="let client">{{ client.description }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef=""></mat-header-cell>
        <mat-cell *matCellDef="let client">
          <button
            class="botton-card-edit"
            mat-icon-button
            color="accent"
            aria-label="editar"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button
            class="botton-card-delete"
            mat-icon-button
            aria-label="remover"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
